<a href="https://colab.research.google.com/github/ehsung/PUBH6851/blob/main/PUBH_6851_LabAssignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PUBH_6851 - Lab Assignment 2

# 10/9/24

# Edward Sung

# Lab Assignment 2 Links:
### Note: Requires GWU Blackboard login
* https://alt-5fd21eff2f29a.blackboard.com/bbcswebdav/pid-14239507-dt-content-rid-132070964_2/courses/84362_202403/Lecture0201FlowControl.html?one_hash=F1CEFB42EB00F908609DE503E9659313&f_hash=7CD125A6A917D992300DFA4A5E109441
* https://alt-5fd21eff2f29a.blackboard.com/bbcswebdav/pid-14239510-dt-content-rid-132070966_2/courses/84362_202403/Lecture0202UserDefinedFunctions.html?one_hash=4CE354B498A58C5CA298BD9DE1D1E0A4&f_hash=7CD125A6A917D992300DFA4A5E109441

# Table of Contents

>[Flow Control](#updateTitle=true&folderId=1r-g8wJfeKaGd9a8yLWY3NoKaegmzbrzB&scrollTo=z1P3RCd8NpAU)

>>[Section 1](#updateTitle=true&folderId=1r-g8wJfeKaGd9a8yLWY3NoKaegmzbrzB&scrollTo=0vUztbWlT3FQ)

>[User Defined Functions](#updateTitle=true&folderId=1r-g8wJfeKaGd9a8yLWY3NoKaegmzbrzB&scrollTo=0wPDF6sFT8xj)

>>[Section 1](#updateTitle=true&folderId=1r-g8wJfeKaGd9a8yLWY3NoKaegmzbrzB&scrollTo=antdYrLqQccJ)

>>[Section 2](#updateTitle=true&folderId=1r-g8wJfeKaGd9a8yLWY3NoKaegmzbrzB&scrollTo=fbv187ttTz9J)

>>[Section 3](#updateTitle=true&folderId=1r-g8wJfeKaGd9a8yLWY3NoKaegmzbrzB&scrollTo=By34BmQAU7ZU)

# Flow Control

## Section 1

In [55]:
lab_vector <- c("ARDS", "ARDS", "HPT", "HPT", "Diabetes", "Diabetes", "ARDS","Diabetes", "HPT", "HPT")

# Counter variable
n <- 0

# Loop through lab_vector
for (lab in lab_vector) {
  if (lab == "ARDS") {
    n <- n + 1
  }
}

# Print n counter
print(paste("ARDS appears", n, "times."))

[1] "ARDS appears 3 times."

# User Defined Functions

## Section 1

In [56]:
difference_squared_func <- function(input_x, input_y) {
  # Subtract two numeric values and squares the difference.

  # Check inputs are numeric
  if (!is.numeric(input_x) && !is.numeric(input_y)) {
    print("First and Second inputs are not numeric!")
    return(NULL)
  }

  if (!is.numeric(input_x)) {
    print("First input is not numeric!")
    return(NULL)
  }
  if (!is.numeric(input_y)) {
    print("Second input is not numeric!")
    return(NULL)
  }

  # Difference
  diff_value = input_x - input_y

  # Square
  square_diff = (diff_value)**2

  return (square_diff)
}

# Examples
difference_squared_func("a", 2)
difference_squared_func(6, "b")
difference_squared_func("a", "b")
difference_squared_func(6, 2)

[1] "First input is not numeric!"

NULL

[1] "Second input is not numeric!"

NULL

[1] "First and Second inputs are not numeric!"

NULL

[1] 16

## Section 2

In [57]:
to_character_func <- function(input_value) {
  # Convert the input to character type (string)

  converted_character = as.character(input_value)
  return(converted_character)
}

# Examples
to_character_func(123)
to_character_func(0)
to_character_func("123")
to_character_func("aaa")
to_character_func("123aaa")

[1] "123"

[1] "0"

[1] "123"

[1] "aaa"

[1] "123aaa"

## Section 3

In [58]:
calculate_mean_func <- function(input_vector) {
  # Calculates the mean of a numerical vector

  # Check if the input is a numeric vector
  if (!is.numeric(input_vector)) {
    print("Input vector is not all numeric!")
    return(NULL)
  }

  # Total sum and length of vector
  vector_sum <- sum(input_vector)
  vector_length <- length(input_vector)

  # Calculate the mean of the vector
  vector_mean <- vector_sum / vector_length

  return(vector_mean)
}

# Examples
calculate_mean_func(c(1, 2, 3, 4, 5))
calculate_mean_func(c(1, 2, "c", 4, 5))
calculate_mean_func(c("a", "b", "c", "d", "e"))

[1] 3

[1] "Input vector is not all numeric!"

NULL

[1] "Input vector is not all numeric!"

NULL